.solid-hr{
    border:1px solid #6c757d;
}
.dotted-hr {
    border-top: dotted 2px;
}
.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
  }
  
  .ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
  }

@media screen and (max-width: 767px){
.add-btn, .search{
    margin-bottom: 10px;
}
}