<form [formGroup]="taskForm" class="container-fluid">
  <div class="form-group row">
    <label for="project" class="col-sm-2 col-form-label">Project:</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id="project" formControlName="project" readonly required>
      <div *ngIf="taskform.project.invalid && (taskform.project.dirty || taskform.project.touched)" class="alert alert-danger">
        <div *ngIf="taskform.project.errors.required">
          Project Name is required.
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <button type="submit" class="btn btn-primary btn-block" (click)="openProject()">Search</button>
    </div>
  </div>
  <div class="form-group row">
    <label for="taskName" class="col-sm-2 col-form-label">Task:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="taskName" formControlName="task" required>
      <div *ngIf="taskform.task.invalid && (taskform.task.dirty || taskform.task.touched)" class="alert alert-danger">
        <div *ngIf="taskform.task.errors.required">
          Task Name is required.
        </div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-3 offset-sm-2 form-check" style="text-align:center">
      <input class="form-check-input" type="checkbox" id="parentCheck" formControlName="parentCheck" (ngModelChange)="checkParent()">
      <label class="form-check-label" for="parentCheck">
        Parent Task
      </label>
    </div>
  </div>
  <div class="form-group row">
    <label for="priority" class="col-sm-2 col-form-label">Priority: {{taskform.priority.value}}</label>
    <div class="col-sm-10">
      <input type="range" class="form-control-range custom-range" id="priority" value="0" min="0" max="30" step="1"
        formControlName="priority" name="priority">
    </div>
  </div>
  <div class="form-group row">
    <label for="parentTask" class="col-sm-2 col-form-label">Parent Task:</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id="parentTask" formControlName="parentTask" readonly>
    </div>
    <div class="col-sm-2">
      <button type="submit" class="btn btn-primary btn-block" [disabled]="taskform.parentCheck.value" (click)="openTask()">Search</button>
    </div>
  </div>

  <div class="form-group row">
    <label for="startDate" class="col-sm-2 col-form-label">Start Date:</label>
    <div class="col-sm-4">
      <input type="date" class="form-control" id="startDate" placeholder="Start Date" formControlName="startDate"
        required>
    </div>
    <label for="endDate" class="col-sm-2 col-form-label">End Date:</label>
    <div class="col-sm-4">
      <input type="date" class="form-control" id="endDate" placeholder="End Date" formControlName="endDate" required
        (blur)="compareTwoDates()">
      <div *ngIf="error.isError" class="alert alert-danger">
        {{ error.errorMessage }}
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label for="user" class="col-sm-2 col-form-label">User:</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id="user" readonly formControlName="user" required>
      <div *ngIf="taskform.user.invalid && (taskform.user.dirty || taskform.user.touched)" class="alert alert-danger">
        <div *ngIf="taskform.user.errors.required">
          User Name is required.
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <button type="submit" class="btn btn-primary btn-block" [disabled]="taskform.parentCheck.value" (click)="openUser()">Search</button>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-xs-12 col-sm-3 offset-sm-6">
      <button type="submit" class="btn btn-primary btn-block add-btn" [disabled]="taskForm.invalid" (click)="addTask()">Add
        Task</button>
    </div>
    <div class="col-xs-12 col-sm-3">
      <button type="submit" class="btn btn-primary btn-block" (click)="resetFields()">Reset</button>
    </div>
  </div>
</form>