table {
    width: 100%;
}
.dotted-hr {
    border-top: dotted 2px;
}

.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
}
  
.ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
}

@media screen and (max-width: 767px){
    .add-btn{
        margin-bottom: 10px;
    }
}
